.offline-observations-container,
.observations-container {
  padding: 0px 16px 16px 16px;
}

.send-observations-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
