.offline-observations-container,
.observations-container {
  padding: 0px 16px 16px 16px;
}

.send-observations-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-type-container {
  margin-inline-start: 0px;
  margin-inline-end: 8px;
  padding: calc(
    calc(
        var(--mdc-icon-button-state-layer-size, 48px) - var(
            --mdc-icon-button-icon-size,
            24px
          )
      ) / 2
  );
}
