<div>
  L'ensemble des données dans Regard d'Altitude sont sous
  <a
    href="https://www.etalab.gouv.fr/licence-ouverte-open-licence/"
    target="_blank"
    rel="noopener noreferrer"
  >
    licence ouverte 2.0</a
  >. Les photos sont elles sous licence
  <a
    href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr"
    target="_blank"
    rel="noopener noreferrer"
  >
    CC BY-SA 4.0</a
  >. Cela permet à toute personne de télécharger et réutiliser librement ces
  données et images en créditant l'auteur.
</div>
