django
psycopg
djangorestframework
djangorestframework-gis
drf-spectacular
django-filter
pillow
sorl-thumbnail
pymemcache
sentry-sdk
gunicorn
drf-dynamic-fields
djangorestframework-simplejwt
django-treebeard