@import "swiper/scss";

.photos-container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 400px;
  img {
    width: 100%;
    object-fit: contain;
    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }
}
.source-container {
  padding: 8px 16px;
}
.date-container {
  padding: 8px 16px;
}
.type-name-container {
  padding: 8px 16px;
}
.name-container {
  padding: 8px 16px;
}
.comments-container {
  padding: 8px 16px;
}
.observer-container {
  padding: 8px 16px;
}
.type-name-container {
  display: flex;
  align-items: center;
  img,
  mat-icon {
    margin-right: 8px;
  }
  img {
    width: 16px;
    height: 16px;
  }
}
