<ng-container *ngIf="observationData">
  <swiper-container
    class="photos-container"
    [navigation]="true"
    [pagination]="{ clickable: true, dynamicBullets: true }"
    zoom-min-ratio="1"
    zoom-max-ratio="4"
    style="
      --swiper-navigation-color: var(--mdc-filled-button-container-color);
      --swiper-pagination-color: var(--mdc-filled-button-container-color);
    "
  >
    @if (
      observationData.properties.medias &&
      observationData.properties.medias.length > 0
    ) {
      @for (media of observationData.properties.medias; track media.uuid) {
        <swiper-slide>
          <div class="swiper-zoom-container">
            <img
              [src]="media.thumbnails.large"
              [alt]="
                'Média pour ' +
                (observationData.properties.name || 'observation')
              "
            />
          </div>
        </swiper-slide>
      }
    } @else {
      <swiper-slide class="default-image-slide">
        <div class="swiper-zoom-container">
          <mat-icon>image</mat-icon>
          <span>Aucune image disponible</span>
        </div>
      </swiper-slide>
    }
  </swiper-container>
  <div class="name-container mat-title-large">
    {{
      observationData.properties.name && observationData.properties.name !== ""
        ? observationData.properties.name
        : observationType.label
    }}
  </div>
  <div class="type-name-container mat-body-large">
    <img
      *ngIf="this.observationType?.pictogram as pictogram"
      [src]="pictogram"
      [alt]="this.observationType.label"
    />
    <mat-icon *ngIf="!this.observationType?.pictogram as pictogram"
      >help_outline</mat-icon
    >
    {{ observationType.label }}
  </div>
  <div class="date-container mat-body-medium">
    <span class="mat-title-medium">Date : </span
    ><span>{{
      observationData.properties.event_date | date: "dd/MM/yyyy"
    }}</span>
  </div>
  <div class="observer-container mat-body-medium">
    <span class="mat-title-medium">Observateur : </span>
    <span>{{ observationData.properties.observer }}</span>
  </div>
  <div class="source-container mat-body-medium">
    <span class="mat-title-medium">Source : </span
    ><span>{{
      observationData.properties.source
        ? observationData.properties.source
        : "Inconnue"
    }}</span>
  </div>
  <div class="comments-container mat-body-medium">
    {{ observationData.properties.comments }}
  </div>
</ng-container>
