<form class="reset-password-form">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" />
    @if (
      emailFormControl.hasError("email") &&
      !emailFormControl.hasError("required")
    ) {
      <mat-error>Renseignez une adresse email valide</mat-error>
    }
    @if (emailFormControl.hasError("required")) {
      <mat-error>Une adresse email est nécessaire</mat-error>
    }
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="resetPassword()">
    Réinitialiser mon mot de passe
  </button>
</form>
