<div class="container">
  <mat-stepper
    class="stepper"
    orientation="vertical"
    #stepper
    (selectedIndexChange)="selectedStepperIndexChange($event)"
  >
    <mat-step [stepControl]="typeForm">
      <ng-template matStepLabel
        >Quel type de phénomène observez-vous ?</ng-template
      >
      <div *ngIf="observationTypeParent">
        <div>
          <button
            mat-flat-button
            color="primary"
            (click)="backToPreviousObservations()"
          >
            <mat-icon>undo</mat-icon>
            Retour
          </button>
        </div>
        <div class="mat-title-large mt-16">
          {{ observationTypeParent.label }}
        </div>
      </div>
      <form [formGroup]="typeForm">
        <mat-grid-list
          #grid
          [cols]="columns"
          rowHeight="150px"
          gutterSize="10px"
        >
          @for (
            observationsType of observationsTypes;
            track observationsType.id
          ) {
            <mat-grid-tile>
              <div
                *ngIf="observationsType.description"
                class="observation-type-tooltip-container"
              >
                <button
                  mat-icon-button
                  matTooltip="{{ observationsType.description }}"
                  class="observation-type-tooltip"
                  #tooltip="matTooltip"
                  (click)="tooltip.show()"
                >
                  <mat-icon>info</mat-icon>
                </button>
              </div>
              <mat-card
                (click)="observationClick(observationsType)"
                [ngStyle]="{
                  border:
                    this.typeForm.value &&
                    this.typeForm.value.type &&
                    this.typeForm.value.type.id === observationsType.id
                      ? '4px solid var(--mat-full-pseudo-checkbox-selected-icon-color)'
                      : 'unset',
                }"
              >
                <img
                  *ngIf="observationsType.pictogram && this.icons.length > 0"
                  class="observation-type-icon"
                  [src]="getIconFromStorage(observationsType.id)"
                />
                <mat-card-footer> {{ observationsType.label }}</mat-card-footer>
              </mat-card>
            </mat-grid-tile>
          }
        </mat-grid-list>
        <div>
          <button class="mt-1" mat-flat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Inserez du contenu multimédia</ng-template>
      <div class="media-container">
        <button
          *ngIf="mobile"
          mat-fab
          extended
          color="primary"
          class="mt-1"
          (click)="addPhotoFromCamera()"
        >
          <input
            #cameraInput
            type="file"
            accept="image/*"
            capture="environment"
            hidden
            (change)="onPhotoSelected($event)"
          />
          <mat-icon>photo_camera</mat-icon>
          Prendre une photo
        </button>
        <button
          mat-fab
          extended
          color="primary"
          class="mt-1"
          (click)="addPhotoFromLibrary()"
        >
          <input
            #fileInput
            type="file"
            accept="image/*"
            hidden
            (change)="onPhotoSelected($event)"
          />
          <mat-icon>photo_library</mat-icon>
          Insérez une photo depuis la galerie
        </button>
      </div>
      <div class="photos-container mt-16" *ngIf="photoForm.value.photos">
        @for (photo of photoForm.value.photos; track photo.uuid) {
          <div class="photo-container">
            <button
              mat-icon-button
              color="primary"
              (click)="deletePhoto(photo)"
              class="delete-photo-button"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <img [src]="photo.objectUrl" class="photo" />
          </div>
        }
      </div>
      <div class="mt-16">
        <button mat-flat-button matStepperPrevious class="mr-1">
          Précédent
        </button>
        <button mat-flat-button matStepperNext>Suivant</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Localisez mon observation</ng-template>
      <div id="map"></div>
      <div *ngIf="mapForm.value.position" class="mt-16">
        <mat-chip-set aria-label="Lat-lng">
          <mat-chip>Latitude : {{ mapForm.value.position.lat }}</mat-chip>
          <mat-chip>Longitude : {{ mapForm.value.position.lng }}</mat-chip>
        </mat-chip-set>
      </div>
      <div class="mt-1">
        <button mat-flat-button matStepperPrevious class="mr-1">
          Précédent
        </button>
        <button mat-flat-button matStepperNext>Suivant</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="moreDataForm">
      <ng-template matStepLabel>Informations complémentaires</ng-template>
      <form [formGroup]="moreDataForm">
        <div class="mt-1">
          <mat-form-field>
            <mat-label>Date de l'observation</mat-label>
            <input matInput [matDatepicker]="dp" formControlName="date" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="dp"
            ></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="name-form-field">
            <mat-label>Nom de l'évènement</mat-label>
            <textarea matInput formControlName="name"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="comment-form-field">
            <mat-label>Commentaire libre</mat-label>
            <textarea matInput formControlName="comment"></textarea>
          </mat-form-field>
        </div>
        <div>
          <button mat-flat-button matStepperPrevious class="mr-1">
            Précédent
          </button>
          <button mat-flat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Récapitulatif</ng-template>
      <div class="mt-16">
        <div class="mat-headline-medium">Type d'évènement</div>
        <div *ngIf="typeForm.value.type">
          <span *ngIf="observationTypeParent"
            >{{ observationTypeParent.label }} -
          </span>
          {{ typeForm.value.type.label }}
        </div>
        <mat-error *ngIf="typeForm.invalid"
          >Le type d'évènement est obligatoire</mat-error
        >
      </div>
      <div *ngIf="photoForm.value.photos" class="mt-16">
        <div class="mat-headline-medium">Contenu multimédia</div>
        <div
          *ngIf="!photoForm.value.photos || photoForm.value.photos.length === 0"
          class="photos-container"
        >
          Aucun
        </div>
        <div *ngIf="photoForm.value.photos" class="photos-container">
          @for (photo of photoForm.value.photos; track photo) {
            <div class="photo-container">
              <img [src]="photo.objectUrl" class="photo" />
            </div>
          }
        </div>
      </div>
      <div *ngIf="mapForm.value.position" class="mt-16">
        <div class="mat-headline-medium">Localisation</div>
        <mat-chip-set aria-label="Lat-lng">
          <mat-chip>Latitude : {{ mapForm.value.position.lat }}</mat-chip>
          <mat-chip>Longitude : {{ mapForm.value.position.lng }}</mat-chip>
        </mat-chip-set>
      </div>
      <div class="mt-16">
        <div class="mat-headline-medium">Informations complémentaires</div>
        <div>
          <span class="mat-title-medium">Date de l'évènement : </span>
          <mat-error *ngIf="moreDataForm.invalid"
            >La date d'évènement est obligatoire</mat-error
          >

          <span *ngIf="moreDataForm.value.date">
            {{ moreDataForm.value.date | date: "dd/MM/yyyy" }}
          </span>
        </div>

        <div *ngIf="moreDataForm.value.name">
          <span class="mat-title-medium">Nom de l'évènement : </span>
          <span>{{ moreDataForm.value.name }}</span>
        </div>
        <div *ngIf="moreDataForm.value.comment">
          <span class="mat-title-medium">Commentaire libre : </span>
          <span>{{ moreDataForm.value.comment }}</span>
        </div>
      </div>
      <div class="mr-1 mb-1 mt-1">
        <button mat-flat-button matStepperPrevious>Précédent</button>
      </div>
      <div class="mr-1 mb-1">
        <button
          *ngIf="
            !this.currentObservation ||
            (this.currentObservation && !this.currentObservation.id)
          "
          mat-flat-button
          (click)="saveAsDraft()"
          [disabled]="observationIsInvalid"
        >
          Enregistrer comme brouillon
        </button>
      </div>
      <div>
        <button
          mat-flat-button
          (click)="sendObservation()"
          [disabled]="observationIsInvalid"
        >
          {{
            !this.currentObservation ||
            (this.currentObservation && !this.currentObservation.id)
              ? "Envoyer"
              : "Modifier"
          }}
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
