<mat-stepper class="stepper" linear="true" orientation="vertical" #stepper>
  <mat-step [stepControl]="typeForm">
    <ng-template matStepLabel
      >Quel type de phénomène observez-vous ?</ng-template
    >
    <div *ngIf="observationTypeParent">
      <div>
        <button
          mat-flat-button
          color="primary"
          (click)="backToPreviousObservations()"
        >
          <mat-icon>undo</mat-icon>
          Retour
        </button>
      </div>
      <div class="mat-title-large mt-16">{{ observationTypeParent.label }}</div>
    </div>
    <form [formGroup]="typeForm">
      <mat-grid-list #grid [cols]="columns" rowHeight="120px" gutterSize="20px">
        @for (
          observationsType of observationsTypes;
          track observationsType.id
        ) {
          <mat-grid-tile>
            <div
              *ngIf="observationsType.description"
              class="observation-type-tooltip-container"
            >
              <button
                mat-icon-button
                matTooltip="{{ observationsType.description }}"
                class="observation-type-tooltip"
                #tooltip="matTooltip"
                (click)="tooltip.show()"
              >
                <mat-icon>info</mat-icon>
              </button>
            </div>
            <mat-card
              (click)="observationClick(observationsType)"
              [ngStyle]="{
                border:
                  this.typeForm.value &&
                  this.typeForm.value.type &&
                  this.typeForm.value.type.id === observationsType.id
                    ? '4px solid var(--mat-full-pseudo-checkbox-selected-icon-color)'
                    : 'unset',
              }"
            >
              <img
                *ngIf="observationsType.pictogram"
                class="observation-type-icon"
                src="{{ observationsType.pictogram }}"
              />
              <mat-card-footer> {{ observationsType.label }}</mat-card-footer>
            </mat-card>
          </mat-grid-tile>
        }
      </mat-grid-list>
      <div>
        <button mat-button matStepperNext [disabled]="this.typeForm.invalid">
          Suivant
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Inserez du contenu multimédia</ng-template>
    <div class="media-container">
      <button
        *ngIf="mobile"
        mat-fab
        extended
        color="primary"
        (click)="addPhotoFromCamera()"
      >
        <input
          #cameraInput
          type="file"
          accept="image/*"
          capture="environment"
          hidden
          (change)="onPhotoSelected($event)"
        />
        <mat-icon>photo_camera</mat-icon>
        Prendre une photo
      </button>
      <button mat-fab extended color="primary" (click)="addPhotoFromLibrary()">
        <input
          #fileInput
          type="file"
          accept="image/*"
          hidden
          (change)="onPhotoSelected($event)"
        />
        <mat-icon>photo_library</mat-icon>
        Insérez une photo depuis la galerie
      </button>
    </div>
    <div class="photos-container mt-16" *ngIf="photoForm.value.photos">
      @for (photo of photoForm.value.photos; track photo.file.name) {
        <div class="photo-container">
          <button
            mat-icon-button
            color="primary"
            (click)="deletePhoto(photo)"
            class="delete-photo-button"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <img [src]="photo.objectUrl" class="photo" />
        </div>
      }
    </div>
    <div class="mt-16">
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Localisez mon observation</ng-template>
    <div id="map"></div>
    <div *ngIf="mapForm.value.position" class="mt-16">
      <div>Latitude : {{ mapForm.value.position.lat }}</div>
      <div>Longitude : {{ mapForm.value.position.lng }}</div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
      <button mat-button matStepperNext>Suivant</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="moreDataForm">
    <ng-template matStepLabel>Informations complémentaires</ng-template>
    <form [formGroup]="moreDataForm">
      <div>
        <mat-form-field>
          <mat-label>Date de l'observation</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="date" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="dp"
          ></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="name-form-field">
          <mat-label>Nom de l'observation</mat-label>
          <textarea matInput formControlName="name"></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="comment-form-field">
          <mat-label>Commentaire libre</mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext [disabled]="moreDataForm.invalid">
          Suivant
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Récapitulatif</ng-template>
    <div *ngIf="typeForm.value.type">
      Type d'observation
      <div>
        <span *ngIf="observationTypeParent"
          >{{ observationTypeParent.label }} -
        </span>
        {{ typeForm.value.type.label }}
      </div>
    </div>
    <div *ngIf="photoForm.value.photos" class="mt-16">
      <div>Contenu multimédia</div>
      <div *ngIf="photoForm.value.photos" class="photos-container">
        @for (photo of photoForm.value.photos; track photo) {
          <div class="photo-container">
            <img [src]="photo.objectUrl" class="photo" />
          </div>
        }
      </div>
    </div>
    <div *ngIf="mapForm.value.position" class="mt-16">
      <div>Localisation</div>
      <div>Latitude : {{ mapForm.value.position.lat }}</div>
      <div>Longitude : {{ mapForm.value.position.lng }}</div>
    </div>
    <div
      *ngIf="moreDataForm.value.date || moreDataForm.value.comment"
      class="mt-16"
    >
      <div>Informations complémentaires</div>
      <div *ngIf="moreDataForm.value.date">
        Date de l'observation :
        {{ moreDataForm.value.date | date: "dd/MM/yyyy" }}
      </div>
      <div *ngIf="moreDataForm.value.name">
        Nom de l'observation : {{ moreDataForm.value.name }}
      </div>
      <div *ngIf="moreDataForm.value.comment">
        Commentaire libre : {{ moreDataForm.value.comment }}
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Précédent</button>
    </div>
    <div>
      <button mat-button (click)="saveAsDraft()">
        Enregistrer comme brouillon
      </button>
      <button mat-button (click)="sendObservation()">Envoyer</button>
    </div>
  </mat-step>
</mat-stepper>
