#pres-text {
  text-align: center;
  margin: 2rem;
}

#banner-container {
  height: 50vh;
  background-image: url("/banner.JPG");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}

@media (min-width: 992px) {
  #banner-container {
    height: 60vh;
  }
}

@media (max-width: 992px) {
  #text-banner {
    font-size: x-large;
    font: revert !important;
  }
}

#text-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: var(--mdc-filled-button-container-color);
  font-family: Afacad !important;
}

@media (min-width: 992px) {
  .explanatory-sentence-container {
    margin: auto;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .explanatory-sentence-container {
    margin: auto;
    width: 60%;
  }
}

.top-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 0px;
  .statistics-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    mat-icon {
      width: 48px;
      height: 48px;
      font-size: 48px;
      color: var(--mdc-filled-button-container-color);
    }
    .statistic-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .new-observation-container {
    margin-top: 24px;
  }
}

.bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0px;
  .recent-observations {
    width: 480px;
    max-width: 100%;
  }
  .show-observations-container {
    margin-top: 12px;
  }
}

.loading-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    margin-top: 12px;
  }
}

.recent-observations-title {
  font-size: 24px;
  font-weight: 700;
}
