<form class="change-password-form" (ngSubmit)="onChangePassword()">
  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input type="password" matInput [formControl]="passwordFormControl" />
    @if (
      passwordFormControl.hasError("password") &&
      !passwordFormControl.hasError("minLength")
    ) {
      <mat-error>Le mot de passe doit avoir au moins 6 caractères</mat-error>
    }
    @if (passwordFormControl.hasError("required")) {
      <mat-error>Un mot de passe est nécessaire</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirmer votre mot de passe</mat-label>
    <input
      type="password"
      matInput
      [formControl]="confirmPasswordFormControl"
    />
    @if (
      passwordFormControl.hasError("password") &&
      !passwordFormControl.hasError("minLength")
    ) {
      <mat-error>Le mot de passe doit avoir au moins 6 caractères</mat-error>
    }
    @if (passwordFormControl.hasError("required")) {
      <mat-error>Un mot de passe est nécessaire</mat-error>
    }
  </mat-form-field>
  <div *ngIf="passwordError" class="password-error-container mat-label-medium">
    Les mots de passe ne corresponent pas
  </div>
  <button type="submit" mat-flat-button color="primary">
    Changer mon mot de passe
  </button>
</form>
