<form class="account-form">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input disabled type="email" matInput [value]="email" />
  </mat-form-field>
</form>

<div class="change-password-button-container">
  <button routerLink="/changer-mon-mot-de-passe" mat-button color="primary">
    Changer mon mot de passe
  </button>
</div>

<div
  class="delete-account-button-container"
  (click)="openDeleteAccountDialog()"
>
  <button mat-button color="primary">Supprimer mon compte</button>
</div>
