<div class="synthesis-interface-container">
  <div class="extented-fab-container">
    <button mat-fab extended color="primary" (click)="handleView()">
      <mat-icon>{{ showMap ? "list" : "map" }}</mat-icon>
      {{ showMap ? "Voir la liste" : "Voir la carte" }}
    </button>
  </div>

  <div class="list-container">
    <ng-container
      *ngIf="
        currentObservationsFeatureCollection &&
        currentObservationsFeatureCollection.features
      "
    >
      <div class="mat-body-large current-observations-title-list-container">
        <div>
          {{ currentObservationsFeatureCollection.features.length }} évènements
        </div>
        <div>
          <button mat-raised-button (click)="openFilterDialog()">
            <mat-icon>filter_list</mat-icon> Filtrer{{
              currentFiltersNumber
                ? "
            ("
                    .concat(currentFiltersNumber.toString())
                    .concat(")")
                : ""
            }}
          </button>
        </div>
      </div>
      <mat-list>
        @for (
          observation of currentObservationsFeatureCollection.features;
          track observation.id
        ) {
          <app-observation-list-item
            [observation]="observation"
            (viewObservation)="handleObservationView($event)"
          ></app-observation-list-item>
        }
      </mat-list>
    </ng-container>
  </div>
  <div class="map-container" [class.hide-map-on-small-view]="!showMap">
    <div id="map"></div>
  </div>
</div>
