<div class="container">
    <div class="mt-1">
        <p>
            Le projet est en train de se mettre en conformité quant à la protection des données personnelles. Nous sommes en train de mettre en place une démarche RGPD, qui vous permettra de protéger vos données personnelles (ici adresse mail, nom, prénom) en vous donnant un droit d'anonymisation de vos observations. En attendant la mise en place de ce dispositif, vous pouvez à tout moment avoir un droit d'anonymisation de vos observation si vous le souhaitez.
        </p>
        <p>
            Pour cela merci de nous contacter via cette adresse mail:
        </p>
        <p>
            mathieu.letouze&#64;risknat.org <br>
            Votre demande sera traitée dans les plus brefs délais.
        </p>
    </div>

</div>