<mat-toolbar>
  <button mat-icon-button (click)="handleSideNavMenu()">
    <mat-icon
      aria-hidden="false"
      [matBadge]="
        (authService.isAuth | async)
          ? (offlineService.observationsPending | async)
          : null
      "
      >menu</mat-icon
    >
  </button>
  <a routerLink="/" class="logo-container">
    <img src="favicon.ico" />
  </a>
  <span class="bold main-color">Regard d'altitude</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="handleSideNavAccount()">
    <mat-icon aria-hidden="false">account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar *ngIf="backButton">
  <button (click)="handleBackButton()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container
  [class.mat-sidenav-container-home]="!backButton"
  [style.marginTop.px]="0"
>
  <mat-sidenav
    #sidenavMenu
    mode="over"
    fixedInViewport="true"
    fixedTopGap="56"
    position="start"
  >
    <mat-nav-list>
      @for (
        currentSideNavMenuItem of currentSideNavMenuItems;
        track currentSideNavMenuItem.id;
        let last = $last
      ) {
        <a
          mat-list-item
          [routerLink]="currentSideNavMenuItem.routerLink"
          (click)="
            !currentSideNavMenuItem.routerLink
              ? currentSideNavMenuItem.click()
              : null
          "
        >
          <div
            [matBadge]="
              currentSideNavMenuItem.observationsPending
                ? (offlineService.observationsPending | async)
                : null
            "
          >
            {{ currentSideNavMenuItem.text }}
          </div>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav
    #sidenavAccount
    mode="over"
    fixedInViewport="true"
    fixedTopGap="56"
    position="end"
  >
    <mat-nav-list>
      @for (
        currentSideNavAccountItem of currentSideNavAccountItems;
        track currentSideNavAccountItem.id;
        let last = $last
      ) {
        <a
          mat-list-item
          [routerLink]="currentSideNavAccountItem.routerLink"
          (click)="
            !currentSideNavAccountItem.routerLink
              ? currentSideNavAccountItem.click()
              : null
          "
        >
          <div
            [matBadge]="
              currentSideNavAccountItem.observationsPending
                ? (offlineService.observationsPending | async)
                : null
            "
          >
            {{ currentSideNavAccountItem.text }}
          </div>
        </a>
        <mat-divider *ngIf="!last"></mat-divider>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
