mat-sidenav-container {
  height: calc(
    100vh - var(--mat-toolbar-standard-height) - var(
        --mat-toolbar-standard-height
      )
  );
  background: var(--mat-toolbar-container-background-color);
}

@media (max-width: 599px) {
  mat-sidenav-container {
    height: calc(
      100vh - var(--mat-toolbar-mobile-height) - var(
          --mat-toolbar-mobile-height
        )
    );
  }
}

main {
  height: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.logo-container {
  height: calc(100% - 8px);
  margin-right: 8px;
}
